{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <h1 class="text-white">儀表板</h1>
        <p class="small mb-0 text-white-50">Good luck with your work today !</p>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="card shadow-sm mb-4" style="width: max-content">   
        <div class="card-body">
            <form method="POST" action="/index">
                <div class="text-darkgray row">
                    <div class="col-7 col-md-auto">
                        <input type="number" class="form-control" name="stock_id" placeholder="請輸入股票代碼" required>
                    </div>
                    <div class="col-5 col-md-auto">
                        <button type="submit" class="btn btn-bg "><i class="fa-solid fa-magnifying-glass"></i><span> 搜尋</span><span class="d-none d-md-inline">個股資訊</span></button>
                    </div> 
                </div>                        
            </form> 
        </div>
    </div>
    <div class="row d-none" id="search_result_panel">
        <div class="col-lg-8 col-md-12">
            <div class="card shadow-sm mb-3" >
                <div class="card-body">
                  <h3 class="card-title">{{stock_info['nameZhTw']}}</h3>
                  <p class="text-muted" id ="current_date"></p>
                  <canvas class="w-100" id="stockChart"></canvas>  
                </div>
            </div>      
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card shadow-sm mt-md-0 mt-2">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">股票代號<span class="float-end">{{stock_info['stock_id']}}</span></li>
                        <li class="list-group-item">產業類別<span class="float-end">{{stock_info['industryZhTw']}}</span></li>
                      </ul>
                </div>
            </div>
            <div class="card shadow-sm mt-4 mb-4">
                <div class="card-body">
                    <div class="progress mb-3">
                        <div class="progress-bar"
                            id="bids_bar"
                            style="width: 50%; background-color: #359936">         
                        </div>
                        <div class="progress-bar progress-bar-stripped"
                            id="asks_bar"
                            style="width: 50%; background-color: #d13535">                          
                        </div>
                    </div>
                    <table id="bid_ask_table" class="table table-bordered w-100" >
                        <thead class="bg-th">
                            <tr>
                                <th class="text-center">張數</th>
                                <th class="text-center">價格</th>
                                <th class="text-center">價格</th>
                                <th class="text-center">張數</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
    </div>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-darkgray fw-bold mb-3">近日熱門股</h5>
            <hr class="my-3" style="opacity: 0.2;"> 
            <table id="target_table" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
                <thead class="bg-th">
                    <tr>
                        <th>股票名稱(代碼)</th>
                        <th>價格</th>
                        <th>漲跌</th>
                        <th>漲跌幅(%)</th>
                        <th>開盤</th>
                        <th>昨收</th>
                        <th>最高</th>
                        <th>最低</th>
                        <th>成交量</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <ul class="nav nav-pills mb-1" id="pills-tab">
                        <li class="nav-item">
                          <button class="nav-link active" id="pills-tab-1" data-bs-toggle="pill" data-bs-target="#tab1" type="button">投資組合現況</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link" id="pills-tab-2" data-bs-toggle="pill" data-bs-target="#tab2" type="button">投資表現</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="pills-tab-3" data-bs-toggle="pill" data-bs-target="#tab3" type="button">風險評估</button>
                        </li>
                    </ul>
                    <hr class="my-3" style="opacity: 0.2;">
                    <div class="tab-content"  id="pills-tabContent">
                        <div class="tab-pane fade show active" id="tab1">
                            <h4 class="card-title">$1,370,420.00</h4>
                            <table class="table table-borderless">                                
                                <tbody>
                                  <tr>
                                    <th scope="row">持有現金</th>
                                    <td>$420,000</td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="text-muted">Day Gain</th>
                                    <td class="text-success">0.00 (+0.00%)</td>
                                  </tr>
                                  <tr>
                                    <th scope="row" class="text-muted">Total Gain</th>
                                    <td class="text-danger">12,345.67 (+15.67%)</td>
                                  </tr>
                                </tbody>
                            </table>                        
                        </div>    
                        <div class="tab-pane fade" id="tab2">                            
                        </div>  
                        <div class="tab-pane fade" id="tab3">                            
                        </div>                  
                    </div>
                </div>
            </div>        
        </div>    
        <div class="col-md-6 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-darkgray fw-bold">最新消息</h5>
                    <hr class="my-3" style="opacity: 0.2;">  
                    <table class="table table-hover">            
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>News 1</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>News 2</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>News 3</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>News 4</td>
                          </tr>
                        </tbody>
                      </table>    
                </div>
            </div>
        </div>    
    </div>
</div>


<script src="{{ url_for('static', filename = 'js/chart.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/chartjs-adapter-date-fns.bundle.min.js') }}"></script>
<script>

    // 初始化最佳五檔表格
    function init_bid_ask_table(stock_id){
      var bid_ask_table = $('#bid_ask_table').DataTable({
          dom:'t',
          ajax:{
            url:"/get_best_bid_ask",
            type:"POST",
            data: {'stock_id':stock_id},
            dataSrc: function(json){
              json = json.data
              ask_unit = 0
              bid_unit = 0
              $.each(json,function(index) {
                ask_unit+=json[index]['ask_unit'];
                bid_unit+=json[index]['bid_unit']
              })
              all_unit = ask_unit + bid_unit
              ask_percentage = Math.round(ask_unit/all_unit*100)
              bid_percentage = Math.round(bid_unit/all_unit*100)
              $("#bids_bar").css("width",bid_percentage+"%")
              $("#asks_bar").css("width",ask_percentage+"%")
              $("#bids_bar").text(bid_percentage+"%")
              $("#asks_bar").text(ask_percentage+"%")
              return json
            }
          },
          paging: false,
          ordering: false,
          columns:[
            {data:"bid_unit"},
            {data:"bid_price"},
            {data:"ask_price"},
            {data:"ask_unit"},
          ]   
      });
      return bid_ask_table
    }
    // 取得即時 API資料
    function reload_api_data(table){
      var date = new Date()
        current_time = date.getHours()*60 + date.getMinutes()
        // 判斷是否為開盤時間
        if ((current_time>540) && (current_time<840)){
            // 設定API更新區間 (表格)
            setInterval( function () {
                console.log('refresh')
                table.ajax.reload();
            }, 5000 );
        }
    }

    
    function get_close_price(stock_id){
        var price;
        $.ajax({
                url:"/get_close_price",
                type:"POST",
                async:false,
                data: {'stock_id':stock_id},
                success:function(data){
                    debugger
                    price = data
                }
                
            })
        return price
    }

    $(document).ready(function (){
        var Data = [
            {"stock":"台積電 (2330)","price":"530", "up-down":"-11", "fluctuation":"-2.03%", 
            "open":"530", "close":"541", "highest":"533", "lowest":"529", "volume":"21,319"},
            {"stock":"陽明 (2609)","price":"126", "up-down":"-0.50", "fluctuation":"-0.40%", 
            "open":"127", "close":"126.5", "highest":"127", "lowest":"124.5", "volume":"45,105"}
         ];
 
         $('#target_table').DataTable({
             dom:'t<"mt-sm-3 mb-sm-3"p>',
             pageLength: 5,
             data:Data,
             columns:[
                 {data:"stock"},
                 {data:"price"},
                 {data:"up-down"},
                 {data:"fluctuation"},
                 {data:"open"},
                 {data:"close"},
                 {data:"highest"},
                 {data:"lowest"},
                 {data:"volume"}
                 
             ]
             
         });
    }); 


    function init_stockChart(price){
        today = new Date()
        start = new Date(today.setHours(9,00,00))
        end = new Date(today.setHours(13,30,00))

        const labels = [start]
        while(start < end){
            start = new Date(start.getTime() + 60000);
            labels.push(start)
        }

        const data = {
            labels: labels,
            datasets: [{
                label: 'Close price',
                backgroundColor: 'rgb(75, 192, 192)',
                borderColor: 'rgb(75, 192, 192)',
                borderWidth: 2 ,
                pointRadius:0,
                data:price,
                tension: 0.4
            }]
        }

        const config = {
            type: 'line',
            data:data,
            options: {
                scales: {     
                    x: {
                        type: 'time',
                        time: {
                            unit:'hour'
                        },
                    },
                    y: {
                        grid:{
                            display:false
                        }
                    },
                },
                interaction: {
                    mode: 'index',
                    intersect : false
                },
                plugins: {
                    legend: {
                        display:false
                    }
                }      
            }
            ,
            plugins: [{
                afterDraw: chart => {
                    if (chart.tooltip?._active?.length) {
                        let x = chart.tooltip._active[0].element.x;
                        let yAxis = chart.scales.y;
                        let ctx = chart.ctx;
                        ctx.save();
                        ctx.beginPath();
                        ctx.moveTo(x, yAxis.top);
                        ctx.lineTo(x, yAxis.bottom);
                        ctx.lineWidth = 1;
                        ctx.setLineDash([9, 7]);
                        ctx.strokeStyle = '#84878B';
                        ctx.stroke();
                        ctx.restore();
                    }
                }
            }]
        };

        const stockChart = new Chart(document.getElementById('stockChart'),
        config
        )

        return stockChart
    }


    $( document ).ready(function() {
        $("#current_date").text((new Date().getMonth()+1)+' 月 '+new Date().getDate()+' 日 ')



        var search_stock = '{{stock_info["stock_id"]}}'
        if (search_stock!=''){
        $("#search_result_panel").removeClass("d-none")
        var bid_ask_table = init_bid_ask_table(search_stock)
        reload_api_data(bid_ask_table)
        //   var close_price = get_close_price(search_stock)
        //   console.log(close_price)
        var close_price = get_close_price(search_stock)
        setTimeout(function() {init_stockChart(close_price)},2000)
        

        }
    });


</script>
{% endblock %}