{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <span class="h1 text-white">最新消息</span>
        <p class="small mb-0 mt-1 text-white-50">Real-time grasp of market trends</p>
    </div>
</header>

<div class="container-fluid px-4">
    <div class="card shadow-sm mb-2 ">
        <div class="card-body">
            <span class="h5 card-title text-darkgray fw-bold mb-3">三大法人</span><span class="text-secondary px-4">{{data['title'].split()[0]}}</span>
            
        </div>
    </div>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <table class="table  table-striped">
                <thead >
                    <tr>
                        <th>{{data['fields'][0]}}</th>
                        <th>{{data['fields'][1]}}</th>
                        <th>{{data['fields'][2]}}</th>
                        <th>{{data['fields'][3]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data['data'][0][0]}}</td>
                        <td>{{data['data'][0][1]}}</td>
                        <td>{{data['data'][0][2]}}</td>
                        <td>{{data['data'][0][3]}}</td>
                    </tr>
                    <tr>
                        <td>{{data['data'][1][0]}}</td>
                        <td>{{data['data'][1][1]}}</td>
                        <td>{{data['data'][1][2]}}</td>
                        <td>{{data['data'][1][3]}}</td>
                    </tr>
                    <tr>
                        <td>{{data['data'][2][0]}}</td>
                        <td>{{data['data'][2][1]}}</td>
                        <td>{{data['data'][2][2]}}</td>
                        <td>{{data['data'][2][3]}}</td>
                    </tr>
                    <tr>
                        <td>{{data['data'][3][0]}}</td>
                        <td>{{data['data'][3][1]}}</td>
                        <td>{{data['data'][3][2]}}</td>
                        <td>{{data['data'][3][3]}}</td>
                    </tr>
                    <tr>
                        <td>{{data['data'][4][0]}}</td>
                        <td>{{data['data'][4][1]}}</td>
                        <td>{{data['data'][4][2]}}</td>
                        <td>{{data['data'][4][3]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <br><br>
    <div class="card shadow-sm mb-2">
        <div class="card-body">
            <span class="h5 card-title text-darkgray fw-bold mb-3">資券變化</span><span class="text-secondary px-4">{{data2['creditTitle'].split()[0]}}</span>
            
        </div>
    </div>
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th>{{data2['creditFields'][0]}}</th>
                        <th>{{data2['creditFields'][1]}}</th>
                        <th>{{data2['creditFields'][2]}}</th>
                        <th>{{data2['creditFields'][3]}}</th>
                        <th>{{data2['creditFields'][4]}}</th>
                        <th>{{data2['creditFields'][5]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{data2['creditList'][0][0]}}</td>
                        <td>{{data2['creditList'][0][1]}}</td>
                        <td>{{data2['creditList'][0][2]}}</td>
                        <td>{{data2['creditList'][0][3]}}</td>
                        <td>{{data2['creditList'][0][4]}}</td>
                        <td>{{data2['creditList'][0][5]}}</td>
                    </tr>
                    <tr>
                        <td>{{data2['creditList'][1][0]}}</td>
                        <td>{{data2['creditList'][1][1]}}</td>
                        <td>{{data2['creditList'][1][2]}}</td>
                        <td>{{data2['creditList'][1][3]}}</td>
                        <td>{{data2['creditList'][1][4]}}</td>
                        <td>{{data2['creditList'][1][5]}}</td>
                    </tr>
                    <tr>
                        <td>{{data2['creditList'][2][0]}}</td>
                        <td>{{data2['creditList'][2][1]}}</td>
                        <td>{{data2['creditList'][2][2]}}</td>
                        <td>{{data2['creditList'][2][3]}}</td>
                        <td>{{data2['creditList'][2][4]}}</td>
                        <td>{{data2['creditList'][2][5]}}</td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>
{% endblock %}