<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>創智投資專家 - Stock Advisor</title>
    <!-- CSS -->
    <link href="{{ url_for('static', filename = 'css/styles.css') }}" rel = "stylesheet" />
    <!-- JS -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
    <!-- icon CDN -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-primary-to-secondary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">創智投資專家</h3></div>
                                {% with messages = get_flashed_messages(with_categories=true) %} 
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'success' %}
                                            <div class="alert alert-info py-2 mb-md-0 text-center" role="alert">
                                                {{message}}
                                            </div>
                                        {% else %}
                                            <div class="alert alert-danger py-2 mb-md-0 text-center" role="alert">
                                                {{message}}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="card-body">
                                    <form method="POST" action="/login">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="inputAccount" name="userAccount" placeholder="Enter your Account" required />
                                            <label for="inputAccount">帳號</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="password" class="form-control" id="inputPwd" name="userPwd" placeholder="Enter password" required />
                                            <label for="inputPwd">密碼</label>
                                        </div>
                                        <div class="text-center mt-4 mb-0">
                                            <button type="submit" class="btn btn-bg btn-block">登 入</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a class="text-muted" href="/sign-up">沒有帳號嗎? 立即註冊!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-3 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted small">Copyright &copy; DSBDA 2022</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>