{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <span class="h1 text-white">智能選股</span>
        <span class="h5 text-white ps-1">/ 個人推薦</span>
        <p class="small mb-0 mt-1 text-white-50">Stock picking by your investment style</p>
    </div>
</header>

<div class="container-fluid px-4">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="float-start">
                <div class="card shadow-sm mb-4 col-auto">   
                    <div class="card-body">     
                        <form >
                            <div class="text-darkgray row">
                                <div class="col-auto">
                                    <label class="col-form-label fw-bold">投資計畫</label>
                                </div>       
                                <div class="col-md-auto col-sm-12">
                                    <select id="investPlan" class="form-control">
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <label class="col-form-label fw-bold">推薦</label>
                                </div>     
                            </div>
                        </form>
                    </div>
                </div>
            </div>       
        </div>
        <div class="col-md-6 col-sm-8">  
            <div class="float-end">
                <div class="card shadow-sm mb-4 col-auto ">   
                    <div class="card-body">
                        <form>
                            <div class="text-darkgray row">
                                <div class="col-auto">
                                    <label class="col-form-label fw-bold">投資組合</label>
                                </div>  
                                <div class="col-auto">
                                    <select id="stockGroup" class="form-control">
                                    </select>
                                </div>
                                <div class="col-auto mt-sm-0 mt-md-3 mt-lg-0">
                                    <button type="submit" class="btn btn-bg">加入勾選項目</button>
                                </div> 
                            </div>                        
                        </form> 
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <table id="picker_table1" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
        <thead class="bg-th">
            <tr>
                <th></th>
                <th>股票代碼</th>
                <th>名稱</th>
                <th>最新收盤價</th>
                <th>漲幅</th>             
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function (){
        var Data = [
            {"stockID":"2330","stockName":"台積電", "closePrices":"514", "stockGain":"+16"}
        ];
 
         $('#picker_table1').DataTable({
             dom:'t<"mt-sm-3 mb-sm-3"p>',
             pageLength: 10,
             data:Data,
             order:[[1,'desc']],
             columns:[
                {render: function(){
                        return '<input class="form-check-input" type="checkbox" value="">'}
                    },
                 {data:"stockID"},
                 {data:"stockName"},
                 {data:"closePrices"},
                 {data:"stockGain"}
                 
                 // {"data":null,"defaultContent":"<button>View</button>"}
             ],
             columnDefs: [
                 { className:"text-center", orderable: false, targets:0 }
             ]
             
         });
 
         $("#stockGroup").append(new Option("自選股群組", "1"));
         $("#stockGroup").prop("selectedIndex", 0);

         $("#investPlan").append(new Option("PlanB", "1"));
         $("#investPlan").prop("selectedIndex", 0);
     }); 
 </script>

{% endblock %}