{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <span class="h1 text-white">智能選股</span>
        <span class="h5 text-white ps-1">/ 個人推薦</span>
        <p class="small mb-0 mt-1 text-white-50">Stock picking by your investment style</p>
    </div>
</header>

<div class="container-fluid px-4">
    <div class="d-flex">
        <div class="card shadow-sm mb-4 col-auto ">   
            <div class="card-body">     
                <form >
                    <div class="text-darkgray row">
                        <div class="col-auto">
                            <label class="col-form-label fw-bold">投資計畫</label>
                        </div>       
                        <div class="col-auto">
                            <select id="investPlan" class="form-control">
                            </select>
                        </div>
                        <div class="col-auto">
                            <label class="col-form-label fw-bold me-2">推薦</label>
                        </div>     
                    </div>
                </form>
            </div>
        </div>       
    </div>

    <table id="picker_table1" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
        <thead class="bg-th">
            <tr>
                <th>股票代碼</th>
                <th>名稱</th>
                <th>最新收盤價</th>
                <th>漲幅</th>
                <th class="text-center" style="width: 20%;">追蹤個股</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function (){
        var Data = [
            {"stockID":"2330","stockName":"台積電", "closePrices":"514", "stockGain":"+16"}
       ];

        $('#picker_table1').DataTable({
            dom:'t<"mt-sm-3 mb-sm-3"p>',
            pageLength: 5,
            data:Data,
            columns:[
                {data:"stockID"},
                {data:"stockName"},
                {data:"closePrices"},
                {data:"stockGain"},
                {render: function(){
                    return '<button class="btn btn-sm btn-outline-bg">加入</button>'}
                }
                // {"data":null,"defaultContent":"<button>View</button>"}
            ],
            columnDefs: [
                { className:"text-center", orderable: false, targets:-1 }
            ]
            
        });

         $("#investPlan").append(new Option("PlanB", "1"));
         $("#investPlan").prop("selectedIndex", 0);
     }); 
 </script>

{% endblock %}