{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <h1 class="text-white">投資組合</h1>
        <p class="small mb-0 text-white-50">Here you can design your own portfolio</p>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="float-start">
                <div class="card shadow-sm mb-4 col-auto">   
                    <div class="card-body">     
                        <div class="text-darkgray row">
                            <div class="col-auto">
                                <label class="col-form-label fw-bold">選擇群組</label>
                            </div>       
                            <div class="col-md-auto col-sm-12">
                                <select id="stock-portfolios" class="form-control">
                                </select>
                            </div>
                            <div class="col-md-auto col-sm-12 mt-lg-0 mt-3">
                                <div class="d-inline">
                                    <button tpye="button" class="btn btn-bg me-2" data-bs-toggle="modal" data-bs-target="#add_ProtfolioModal">新增群組</button>
                                </div>
                                <!-- <button type="button" class="btn btn-outline-del" data-bs-toggle="modal" data-bs-target="#del_ProtfolioModal">刪除群組</button> -->
                                <div class="dropdown d-inline" >
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-gear"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_ProtfolioModal">修改群組名稱</a></li>
                                      <li><a class="dropdown-item text-danger" id ="delete_portfolio_btn" href="#" data-bs-toggle="modal" data-bs-target="#del_ProtfolioModal">刪除群組</a></li>
                                    </ul>
                                  </div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <div class="col-md-6 col-sm-8">  
            <div class="float-end">
                <div class="card shadow-sm mb-4 col-auto ">   
                    <div class="card-body">
                        <form method="POST" action="/add_stock_by_id">
                            <div class="text-darkgray row">
                                <div class="col-auto">
                                    <input type="hidden" class="form-control" name="index" id = "addstock_portfolio_index">
                                    <input type="hidden" name="portfolio_id" id = "selected_portfolio_id_to_addStock">
                                    <input type="number" class="form-control" name="stock_id" placeholder="請輸入股票代碼" required>
                                </div>
                                <div class="col-auto mt-sm-0 mt-md-3 mt-lg-0">
                                    <button type="submit" class="btn btn-bg">加入</button>
                                </div> 
                            </div>                        
                        </form> 
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <table id="target_table" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
        <thead class="bg-th">
            <tr>
                <th>股票代碼</th>
                <th>名稱</th>
                <th>成交價</th>
                <th>漲跌</th>
                <th>漲跌幅</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
  
  <!-- Modal 新增群組-->
<div class="modal fade" id="add_ProtfolioModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">群組名稱</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/add_portfolio" class="row">
                <div class="col-8 mb-2">
                    <input type="text" class="form-control" name="portfolio_name" required>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-bg">新增</button>
                </div>
            </form>
        </div>      
      </div>
    </div>
</div>
<!-- Modal 修改群組名稱-->
<div class="modal fade" id="edit_ProtfolioModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">修改群組名稱</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/edit_portfolio_name" class="row">
                <div class="col-8 mb-2">
                    <input type="hidden" class="form-control" name="index" id = "rename_portfolio_index">
                    <input type="hidden" class="form-control" name="portfolio_id" id = "selected_portfolio_id_to_rename">
                    <input type="text" class="form-control" name="portfolio_newName" required>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-bg">確認</button>
                </div>
            </form>
        </div>      
      </div>
    </div>
</div>
<!-- Modal 刪除群組-->
<div class="modal fade" id="del_ProtfolioModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">是否刪除此群組?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <form method="POST" action="/delete_portfolio" class="d-inline">
                <input type="hidden" class="form-control" name="portfolio_id" id = "selected_portfolio_id_to_delete">
                <button type="submit" class="btn btn-del">確認刪除</button>
            </form>
            
        </div>      
      </div>
    </div>
</div>

<script>
   $(document).ready(function (){
        
        // 接值、初始設置
        var user_portfolios = JSON.parse('{{user_portfolios|tojson}}')
        var portfolio_stock = '{{portfolio|tojson}}'
        var portfolio_index = '{{portfolio_index}}'
        init_portfolio(user_portfolios, portfolio_index)

        // 投資組合表格
        var target_table = $('#target_table').DataTable({
            dom:'t<"mt-sm-3 mb-sm-3"p>',
            pageLength: 5,
            ajax:{
                url:"/get_price_quotechange",
                type:"POST",
                data: {portfolio_stock}
            },
            columns:[
                {data:"stock_id"},
                {data:"stock_name"},
                {data:"price"},
                {data:"change"},
                {data:"changePercent"},
                {data:null,render: function(data){
                    return '<button class="btn btn-outline-del" onclick="delete_stock('+data.stock_id+')">刪除</button>'}
                }
            ],
            columnDefs: [
                { className:"text-center", orderable: false, targets:-1 }
            ]  
        });

        var date = new Date()
        current_time = date.getHours()*60 + date.getMinutes()
        // 判斷是否為開盤時間
        if ((current_time>540) && (current_time<840)){
            // 設定API更新區間 (表格)
            setInterval( function () {
                console.log('refresh')
                target_table.ajax.reload();
            }, 5000 );
        }
        
    }); 
</script>
{% endblock %}