<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>創智投資專家 - Stock Advisor</title>
    <!-- CSS -->
    <link href="{{ url_for('static', filename = 'css/styles.css') }}" rel = "stylesheet" />
    <!-- JS -->
    <script src="{{ url_for('static', filename = 'js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
    <!-- icon CDN -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-primary-to-secondary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container"> 
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-2">註冊</h3></div>
                                {% with messages = get_flashed_messages(with_categories=true) %} 
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'error' %}
                                            <div class="alert alert-danger py-2 mb-md-0" role="alert">
                                                {{message}}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="card-body">
                                    <form method="POST" autocomplete="off">
                                        <div class="row text-darkgray mt-2">
                                            <div class="col-md-3 mb-1">
                                                <input type="text" class="form-control py-3" name="planName" placeholder="投資計畫名稱" maxlength="25" required>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select class="form-control py-3" id="select-op1" name="monthlyInvest" required>
                                                    <option value="" disabled selected>預計每月投入</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select class="form-control py-3" id="select-op2" name="planTime" required>
                                                    <option value="" disabled selected>預計投資時程</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 mb-1">
                                                <select class="form-control py-3" id="select-op3"  name="planRisk" required>
                                                    <option value="" disabled selected>投資風險屬性</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr style="opacity: 0.2;">
                                        <div class="row mb-3">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="text" class="form-control" id="inputName" name="userName" placeholder="Enter your name" maxlength="25" required/>
                                                    <label for="inputName">姓名</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="inputAccount" name="userAccount" placeholder="Enter user account" maxlength="20" required/>
                                            <label for="inputAccount">帳號</label>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="password" class="form-control" id="inputPwd" name="userPwd" placeholder="Enter password" maxlength="20" required/>
                                                    <label for="inputPwd">密碼</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="password" class="form-control" id="inputPwdConfirm" name="userPwdConfirm" placeholder="Confirm password" maxlength="20" required/>
                                                    <label for="inputPwdConfirm">確認密碼</label>
                                                </div>
                                            </div>
                                        </div>     
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-bg btn-block">創建帳戶</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a class="text-muted" href="/login">已有帳戶? 立即登入!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-3 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted small">Copyright &copy; DSBDA 2022</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- setting selection options -->
    <script>
        var options = JSON.parse('{{options|tojson}}')
        setOptions(options)
    </script>

</body>
</html>
