{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <h1 class="text-white">投資取向</h1>
        <p class="small mb-0 text-white-50">Some questions to ask yourself to determine the best investment style</p>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-darkgray fw-bold mb-3">設置您的 投資計畫</h5>
            <form method="POST" action="addnewPlan">
                <div class="row text-darkgray align-items-end">
                    <div class="col-md-2">
                        <label class="my-2">計畫名稱</label>
                        <input type="text" class="form-control" name="new_planName" placeholder="投資計畫名稱" maxlength="25" required>
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">預計每月投入</label>
                        <select class="form-control" id ="select-op1" name="monthlyInvest" required>
                            <option value=""> </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">預計投資時程</label>
                        <select class="form-control" id="select-op2" name="planTime" required>
                            <option value=""> </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">投資風險屬性</label>
                        <select class="form-control" id="select-op3"  name="planRisk" required>
                            <option value=""> </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-bg mt-3">新增計畫</button>       
                    </div>                   
                </div>
            </form>
        </div>
    </div>
    <table id="target_table" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
        <thead class="bg-th">
            <tr>
                <th>投資計畫</th>
                <th>預計每月投入</th>
                <th>預計投資時程</th>
                <th>投資風險屬性</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename = 'js/select-options.js') }}"></script>
<script>
    // 刪除 投資計畫
    function del_plan (id) {
        $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/deletePlan",
                dataType: "json",
                data: JSON.stringify(id), // or the string: 'id=1'
                complete:
                function () {
                    window.location = "/target";
                }
        });
    };

    
   $(document).ready(function (){
        var options = JSON.parse('{{options|tojson}}')
        var user_plans = JSON.parse('{{user_plans|tojson}}')

        setOptions(options)

        $('#target_table').DataTable({
            dom:'t<"mt-sm-3 mb-sm-3"p>',
            pageLength: 5,
            data:user_plans,
            columns:[
                {data:"planName"},
                {data:"monInvest_text"},
                {data:"planTime_text"},
                {data:"planRisk_text"},
                {data:"id", render: function(data, type, row){
                    return '<button class="btn btn-outline-del" onclick=del_plan('+data+')>刪除</button>'}
                }
            ],
            columnDefs: [
                { className:"text-center", orderable: false, targets:-1 }
            ]   
        });

    }); 
</script>

{% endblock %}