{% extends "layout.html" %}
{% block content %}
<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
    <div class="container-xl px-4 py-4">
        <h1 class="text-white">投資取向</h1>
        <p class="small mb-0 text-white-50">Some questions to ask yourself to determine the best investment style</p>
    </div>
</header>
<div class="container-fluid px-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title text-darkgray fw-bold mb-3">設置您的 投資計畫</h5>
            <form >
                <div class="row text-darkgray align-items-end">
                    <div class="col-md-2">
                        <label class="my-2">計畫名稱</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">預計每月投入</label>
                        <select id="#" class="form-control">
                            <option selected>NTD 5,000</option>
                            <option value="#">NTD 10,000</option>
                            <option value="#">NTD 15,000</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">預計投資時程</label>
                        <select id="#" class="form-control">
                            <option selected>短期(3-5年)</option>
                            <option value="#">中期(5-10年)</option>
                            <option value="#">長期(≥10年)</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="my-2">投資風險屬性</label>
                        <select id="#" class="form-control">
                            <option selected>積極型</option>
                            <option value="#">穩健型</option>
                            <option value="#">保守型</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-bg mt-3">新增計畫</button>       
                    </div>                   
                </div>
            </form>
        </div>
    </div>

    <table id="target_table" class="table table-bordered shadow-sm w-100" style="vertical-align:middle">
        <thead class="bg-th">
            <tr>
                <th>投資計畫</th>
                <th>預計每月投入</th>
                <th>預計投資時程</th>
                <th>投資風險屬性</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
   $(document).ready(function (){
       var Data = [
           {"planInvest":"planB","monInvest":"NTD 5000", "yearInvest":"短期(3-5年)", "riskInvest":"積極型"},
           {"planInvest":"planA","monInvest":"NTD 5000", "yearInvest":"短期(3-5年)", "riskInvest":"積極型"},
           {"planInvest":"planC","monInvest":"NTD 5000", "yearInvest":"短期(3-5年)", "riskInvest":"積極型"}
        ];

        $('#target_table').DataTable({
            dom:'t<"mt-sm-3 mb-sm-3"p>',
            pageLength: 5,
            data:Data,
            columns:[
                {data:"planInvest"},
                {data:"monInvest"},
                {data:"yearInvest"},
                {data:"riskInvest"},
                {render: function(){
                    return '<button class="btn btn-outline-del">刪除</button>'}
                }
            ],
            columnDefs: [
                { className:"text-center", orderable: false, targets:-1 }
            ]
            
        });
    }); 
</script>

{% endblock %}